{% extends "layout.html.twig" %}

{% block content %}
<div style="float: right; margin-top:20px;">
    <a href="#" onclick="location.reload()" class="btn btn-primary">Get more</a>
</div>
<h2>Search results</h2>
<ul>
    {% for name in names %}
    <li><a target="_blank" href="/names/{{name}}">{{name}}</a></li>
    {% endfor %}
</ul>

{% endblock %}
